In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(
    "./dl-fundamentals/perceptron_toydata-truncated.txt", sep="\t")
df.describe()

              x1         x2      label
count  20.000000  20.000000  20.000000
mean    0.737500   0.397500   0.500000
std     1.090171   2.546903   0.512989
min    -0.680000  -3.430000   0.000000
25%    -0.157500  -1.920000   0.000000
50%     0.800000   0.950000   0.500000
75%     1.315000   2.605000   1.000000
max     3.880000   3.940000   1.000000